@media(max-width: 1200px){
	.promo{
		.container{
			width: 850px;
		}
	}
	.second{
		.container{
			width: 850px;
		}
		.second__icons{
			width: 850px;}		
		}
	}
	.consultation{
		.container{
			width: 850px;
		}
	}


@media (max-width: 991px){
	.promo{
		
		.container{
			width: 650px;
		}
		.promo__wrapper {
			margin-top: 45px;}
			.promo__icons{
				margin-top: 30px;
			}
		.button_main{
			margin-top: 33px;
		}		
		}
	.second{
		height: 350px;
		
		.container{
			width: 650px;
			margin-top: -40px;
		}
		.second__icons{
			margin-top: 20px;
			width: 650px;}		
		.second_icon{
			font-size: 16px;
			img {
				margin-bottom: 15px;}
			span{
				font-size: 12px;	
				margin-top: 10px;
			}
			a {
				font-size: 12px;
				}
		}	
	}
	.promo{
		height: 520px;
		
	}
	.consultation{
		height: 500px;
		.container{
			width: 650px;
		}
		.title_left{
			font-size: 26px;
			margin-top: -50px;
		}
		.consultation__descr{
			font-size: 16px;
			line-height: 20px;
		}
		.feed-form{
			margin-top: 23px;
		}
	.carousel{
		height: 500px;
		.container{
			width: 650px;
		}
		.carousel__inner{
			width: 650px;
		}

	}
		
	}

@media (max-width: 767px){
	.promo{
		height: 420px;
		.header{
			display: flex;
			justify-content: space-between;
			align-items: center;
			.header__logo{
				width: 150px;
				img{
					width: 100%;
				}
			}
			.header__official{
				
				font-size: 10px;
				text-align: center;
				span{
					display: block;
					font-size: 14px; 
				}
			}
			.header__phone{
				font-size: 14px;
			}
			.button{
				width: 120px;
				height: 20px;
				font-size: 9px;
			}
		}
		.container{
			width: 500px;
		}
		.promo__wrapper {
			align-items: center;
			margin-top: 40px;
		}
		.promo__header{
			font-size: 35px;
			line-height: 35px;
			
		}
		.promo__subheader {
			font-size: 20px;
		}
		.promo__icons {
			margin-top: 20px;
		}
		.promo_icon {
			font-size: 12px;
			color: #ffffff;
		}
		.promo__link {
			font-size: 12px;
			margin-top: 12px;
		}
		.button_main{
			margin-top: 20px;
			width: 280px;
			height: 30px;
			font-size: 12px;
		}

	}
	.second{
		height: 320px;
		
		.container{
			width: 500px;
			margin-top: -40px;
		}
		.second__header{
			font-size: 20px;
			line-height: 20px;
		}
		.second__icons{
			margin-top: 20px;
			width: 500px;}		
		.second_icon{
			width: 160px;
			font-size: 14px;
			img {
				margin-bottom: 15px;}
			span{
				font-size: 10px;	
				margin-top: 10px;
			}
			a {
				font-size: 10px;
			}
		}
	
	}
}
}
@media (max-width: 575px){
	.promo{
		height: 380px;
		.header{
			display: flex;
			justify-content: space-between;
			align-items: center;
			.header__logo{
				width: 140px;
				img{
					width: 100%;
				}
			}
			.header__official{
				display: none;
			}
			.header__phone{
				font-size: 12px;
			}
			.button{
				width: 100px;
				height: 15px;
				font-size: 7px;
			}
		}
		.container{
			width: 280px;
		}
		.promo__wrapper {
			align-items: center;
			margin-top: 20px;
		}
		.promo__header{
			font-size: 26px;
			line-height: 35px;
			
		}
		.promo__subheader {
			font-size: 18px;
			text-align: center;
			line-height: 25px;
		}
		.promo__icons {
			margin-top: 5px;
			justify-content: center;
			width: 320px;
		}
		.promo_icon {
			font-size: 10px;
			width: 100px;
		}
		.promo__link {
			font-size: 10px;
			margin-top: 8px;
		}
		.button_main{
			margin-top: 20px;
			width: 210px;
			height: 26px;
			font-size: 10px;
		}

	}
	.second{
		height: 660px;
		.container{
			width: 280px;
			margin-top: -50px;
		}
		.second__header{
			font-size: 12px;
			line-height: 20px;
		}
		.second__icons{
			flex-direction: column;
			align-items:center;
			margin-top: -10px;
			width: 280px;}		
		.second_icon{
			margin-top: 20px;
			width: 160px;
			font-size: 14px;
			img {
				margin-bottom: 5px;}
			span{
				font-size: 10px;	
				margin-top: 0px;
			}
			a {
				font-size: 10px;
			}
		}	
	}
	
}
@media (max-width: 991px){
	.carousel{
		height: 600px;
		.container{
			width: 650px;
		}
		.carousel__inner{
			position: relative;
			width: 600px;
			img{
				width: 100%;
			}
		}
	}
	.catalog{
		margin-bottom: -60px;
		.catalog__content{
			justify-content: center;
		}
		.catalog-item{
			margin-left: 10px;
			margin-right: 10px;
		}
	}
	.review{
		.container{
			width: 650px;
			.title{
				font-size: 20px;
			}
			.review__peoples{
				width: 650px;
				margin-top: 30px;
				.review_people{
					margin-bottom: 30px;
					img{
						width: 140px;
            			height: 140px;
					}
					.review_people-descr{
						h2{
							font-size: 14px;
							}
						h3{
							font-size: 12px;
							}
						span{
							margin-top: 5px;
							display: block;
							font-weight: 300;
							font-size: 13px;
							line-height: 18px;
							color: #0D0D0D;
							}
					}

				}
			}
		}


	}	


}


@media (max-width: 767px){
	.consultation{
		height: 370px;
		.container{
			width: 500px;
		}
		.title_left{
			font-size: 20px;
			margin-top: -70px;
		}
		.consultation__descr{
			font-size: 14px;
			line-height: 20px;
		}
		.feed-form{
			margin-top: 20px;
			input{
				height: 35px;
				border-radius: 5px;
				background-color: #fff;
				margin-bottom: 7px;
				border:none;
				padding: 0 20px;
				font-weight: 300;
				font-size: 14px;
				color: #4B4B4B;
				&:nth-child(3){
					margin-bottom: 10px;
				}
			}	
		}
		.button_submit{
			width: 100%;
			height: 40px;
			color: #ffffff;
			font-size: 14px;
		}
	}
	.carousel{
		height: 500px;
		.container{
			width: 500px;
		}
		.carousel__inner{
			position: relative;
			width: 430px;
			img{
				width: 100%;
			}
		}
	}
	.catalog{
		.title{
			font-size: 20px;
			margin-bottom: -20px;
		}
		.catalog__tabs{
			.catalog__tab{
				width: 160px;
				height: 40px;
				font-size: 16px;
				line-height: 36px;
			}
		}
		.catalog__content{
			.catalog-item{
				width: 260px;
			}
		}
	}
	.review{
		.container{
			width: 500px;
			.title{
				font-size: 20px;
			}
			.review__peoples{
				width: 500px;
				margin-top: 30px;
				.review_people{
					margin-bottom: 30px;
					img{
						width: 140px;
            			height: 140px;
					}
					.review_people-descr{
						padding-left:31px ;
						h2{
							font-size: 14px;
							}
						h3{
							font-size: 12px;
							}
						span{
							margin-top: 5px;
							display: block;
							font-weight: 300;
							font-size: 13px;
							line-height: 18px;
							color: #0D0D0D;
							}
					}

				}
			}
		}


	}	

}
@media (max-width: 575px){
	.consultation{
		height: 390px;
		.container{
			width: 280px;
		}
		.title_left{
			font-size: 18px;
			margin-top: -70px;
		}
		.consultation__descr{
			font-size: 13px;
			line-height: 20px;
		}
		.feed-form{
			margin-top: 23px;
			width: 270px;
		}
	}
	.carousel{
		margin-top: -30px;
		height: 350px;
		.container{
			width: 280px;
		}
		.carousel__inner{
			position: relative;
			width: 250px;
			img{
				width: 100%;
			}
		}
	}
	.catalog{
		.title{
			font-size: 18px;
			margin-bottom: -40px;
		}
		.catalog__tabs{
			.catalog__tab{
				width: 90px;
				height: 25px;
				font-size: 9px;
				line-height: 22px;
			}
		}
		.catalog__content{
			.catalog-item{
				width: 280px;
			}
		}
	}
	.review{
		.container{
			width: 280px;
			.title{
				font-size: 18px;
				margin-top: -30px;
			}
			.review__peoples{
				width: 280px;
				margin-top: 10px;
				.review_people{
					margin-bottom: 30px;
					flex-direction: column;
					img{
						width: 100px;
            			height: 100px;
						margin: 0 auto;
				
						
					}
					.review_people-descr{
						padding-left:0;
						margin-top: 20px;
						h2{
							font-size: 12px;
							text-align: center;
							}
						h3{
							font-size: 10px;
							text-align: center;
							}
						span{
							margin-top: 5px;
							display: block;
							font-weight: 300;
							font-size: 11px;
							line-height: 12px;
							color: #0D0D0D;
							text-align: start;
							}
					}

				}
			}
		}
	}	
}